.services {
  .interfaces {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    .interface-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: start;
      gap: 40px;
      div {
        width: 160px;
        height: 160px;
        background: #e3e3e3;
        border-radius: 20px;
        box-shadow: 0 4px 16px rgba(17, 17, 26, 0.05),
          0 8px 32px rgba(17, 17, 26, 0.05);
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background: var(--b2);
          p {
            color: var(--w1);
          }
          span {
            color: var(--b1);
          }
        }
      }
      div.active {
        background: var(--b2);
        p {
          color: var(--w1);
        }
        span {
          color: var(--b1);
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: 600;
        display: block;
        padding: 20px;
        position: relative;
        z-index: 2;
        transition: 0.3s ease;
      }
      span {
        font-size: 14em;
        color: #cecece;
        font-weight: 700;
        position: absolute;
        pointer-events: none;
        z-index: 1;
        transition: 0.3s ease;
      }
      div:nth-child(1) span,
      div:nth-child(2) span {
        bottom: -60px;
        right: -38px;
      }
      div:nth-child(3) span {
        font-size: 13em;
        bottom: -45px;
        right: -30px;
      }
      div:nth-child(4) span {
        bottom: -45px;
        right: -31px;
      }
    }
    .interface-preview {
      background: var(--w1);
      border-radius: 20px;
      display: flex;
      align-items: center;
      box-shadow: 0 48px 100px rgba(17, 12, 46, 0.1);
      max-width: 720px;
      transition-property: color, box-shadow, border-radius, transform, opacity;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.5s, 0.5s;
      .preview-image {
        border-radius: 20px 0 0 20px;
        width: 100%;
        max-width: 260px;
        height: 360px;
        transition: 0.3s ease;
      }
      .preview-content {
        font-family: Poppins, sans-serif;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        width: 100%;
        span:nth-child(1) {
          font-size: 2rem;
          font-weight: 600;
          color: var(--b2);
        }
        span:nth-child(2) {
          font-size: 1.5rem;
          font-weight: 500;
          color: #aaa;
        }
        .separator {
          display: block;
          height: 1px;
          width: 100%;
          background: #aaa;
          margin: 20px 0;
          opacity: 0.4;
        }
        p {
          color: var(--b1);
          font-size: 1rem;
          line-height: 1.75em;
          max-width: 300px;
          padding: 0 0 20px 0;
          font-weight: 500;
        }
        .button {
          padding: 12px 24px;
          background: var(--b1);
          max-width: fit-content;
          text-decoration: none;
          border-radius: 12px;
          color: var(--w1);
          transition: 0.3s ease;
        }
      }
    }
  }
}
