footer {
  background: var(--b2);
  color: #cecece;
  padding-top: 120px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  .footer-content {
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: 600;
      color: var(--w1);
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: #cecece;
    }
    span {
      display: block;
      width: 80%;
      height: 1px;
      background: rgba(206, 206, 206, 0.3);
      &:nth-child(4) {
        margin: 10px 0 6px 0;
      }
      &:nth-child(6) {
        margin: 5px 0 15px 0;
      }
    }
    address {
      font-style: normal;
      line-height: 2em;
    }
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .social-media {
      list-style-type: none;
      display: flex;
      gap: 25px;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
  .footer-links {
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .copyright {
    padding: 120px 20px 80px 20px;
  }
  .blur {
    bottom: -100px;
  }
}
